<div class="container-fluid">
    <div class="row container-fluid">
        <div class="col-md-8">
            <h1><strong>This First Heading </strong>Will Catch Your Eye</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quidem cumque tenetur! Tempora, totam. Animi odio illum, magni culpa asperiores fugit tempora natus voluptate saepe, ipsa laboriosam nesciunt ut inventore?</p>
        </div>
        
        <div id="ww" class="col-md-4" >
            <img class= "walterwhite" src="/website/assets/img/1.jpg" alt="walterwhite">
        </div>
    </div>
</div>