<div class="container-fluid">
    <div class="row container-fluid">    
        <div id="keyboardtypeimg" class="col-md-4" >
            <img class= "keyboardtyp" src="/website/assets/img/2.jpg" alt="wkeyboardtyp">
        </div>
        <div class="col-md-8">
            <h1><strong>This Second Heading </strong>Its Pretty Cool Too.</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quidem cumque tenetur! Tempora, totam. Animi odio illum, magni culpa asperiores fugit tempora natus voluptate saepe, ipsa laboriosam nesciunt ut inventore?</p>
        </div>
    </div>
</div>