<h1><strong>Porfolio</strong></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsa cumque. Nesciunt dolorum officia tempore, sunt exercitationem ad, maxime voluptate reprehenderit nisi commodi, qui ut voluptatem. Quod voluptas blanditiis assumenda.</p>

<div class="card-group">
    <div class="card">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="port-img">
      <div class="card-body">
        <h5 class="card-title">Project-1</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="port-img">
      <div class="card-body">
        <h5 class="card-title">Project-2</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="port-img">
      <div class="card-body">
        <h5 class="card-title">Project-3</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>